body{
    background-color: bisque;
}
h1{
    size: 20pt;
    color: crimson;
    text-align: center;
}
h3{
    color: crimson;
    size: 15pt;
    

}
p{
    color:brown;
    size: 5pt;
    font-style: italic;
    
}
ul{
    color:brown;
    size: 5pt;
    font-style: italic;
    

}
img{
    width: 150pt;
    height: 130pt;
    border-style: ridge;
    border-color: brown;
    align-items: center;


}
