body {
    background-image: url(https://t4.ftcdn.net/jpg/05/63/33/61/360_F_563336147_hA4lHIVJ9iCpib4eswsFXqAc0s3UAdPT.jpg);
}
.div1{
    background-color: rgb(39, 56, 9);
    text-align: center;
    color: bisque;
    border: 1cm;
    border-style: inset;
    border-color:brown ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
   
}
.div2{
    background-color: rgb(39, 56, 9);
    text-align: center;
    color: bisque;
    border: 1cm;
    border-style: inset;
    border-color:brown ;
    font-family: Impact;
    font-size: medium;

 
}
.foto1{
    border: 2cm;
    border-color: brown;
    border-style: ridge;
    
}