body{
    background-image: url(https://wallpaperaccess.com/full/31189.jpg);
}
.pre1{
    text-align: center;
}
h1{
    size: 20pt;
    color: crimson;
    text-align: center;
}
.div1{
    color:brown;
    size: 5pt;
    font-style: italic;
}
.photo1{
   
    width: 350pt;
    height: 230pt;
    border-style: ridge;
    border-color: brown;
    
}